<div class="group">

  <div class="group__title">
    <div class="group__title-name">

      @if (isShowTitle) {
        <h2>{{ todoGroup.title }}</h2>
        <button (click)="isShowTitle = false" class="button-edit">Edit</button>
      } @else {
        <input type="text" class="input"
               [(ngModel)]="groupTitle"
               (blur)="onEnterValue()"
               (keyup.enter)="onEnterValue()"
               (focus)="selectInputText($event)"
               placeholder="Введите название группы..."
        />
        <button (click)="onEnterValue()" class="button-edit">Save</button>
      }

      <div>
        <button (click)="onDeleteGroup()" class="button-edit">Del</button>
      </div>
    </div>
    <div class="group__title-underline"></div>
  </div>

  <div class="group_items">
    @for (item of todoGroup.items; track todoGroup.items; let i = $index) {
      <app-item-factory [index]="i" [todoItem]="item"></app-item-factory>
    }
  </div>
</div>
