.item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  cursor: pointer;


  //align-items: center;

  min-height: 50px;
  height: fit-content;
  width: 100%;
  //width: 410px;
  border-radius: 18px;
  background-color: #d2d2de;

  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

  &__title {
    font-size: 17px;
    line-height: 115%;
    color: #35383e;

    font-weight: 700;

  }

  position: relative;

  &__hide {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 25px;
    color: #646363;

    transition: all ease-in-out 0.3s;

    transform: rotate(-90deg);
  }

  &__alt-hide {
    transition: all ease-in-out 0.3s;

    transform: rotate(90deg);
  }

  &__header {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: left;

    padding-top: 5px;
  }

  &__img {
    padding-left: 10px;
  }

  &__description {
    //display: flex;
    //flex-direction: column;
    //
    //gap: 10px;

    margin: 5px 10px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid silver;
    border-radius: 10px;

    min-height: 20px;
    height: fit-content;


    -webkit-box-shadow: -3px -3px 3px -3px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: -3px -3px 3px -3px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -3px -3px 3px -3px rgba(34, 60, 80, 0.6) inset;

    &-area {
      width: 100%;
      box-sizing: border-box;
      margin: 0 auto;
      resize: none;
      border-radius: 6px;
      padding: 8px;
      background-color: rgba(250, 250, 210, 0.3);
    }

    &-span {
      margin-top: 7px;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .delete {
    background-color: #da907f!important;
  }


  .button {

    &__item {
      background-color: #7fc5da;
      //background-color: rgba(255, 170, 4, 0.2) !important;
      font-size: 12px;
      font-weight: 500;
      padding: 0.3rem 0.5rem;
      margin: 15px 0;

      border: none;

      outline: none;
      border-radius: 8px;

      transition: all ease-in-out .2s;

      &:hover {
        transform: scale(1.08);
      }

      &:active {
        transform: scale(1.1);
      }
      -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
      -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
      box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;

    }
  }

  .button-edit {
    background-color: #a0da7f;
    font-size: 10px;

    &:hover {
      transform: scale(1.08);
    }

    &:active {
      transform: scale(1.1);
    }

    margin-left: 7px;

  }

} //item



