<header xmlns="http://www.w3.org/1999/html">
  <h1>Todo List</h1>
  <span>Todo with Angular17 with standalone components</span>
</header>

<main>

  <div class="main">
    <div class="main__controls">
      <button (click)="addGroup()" class="button">Добавить группу</button>
    </div>
  </div>

  <div class="section__groups">
    @for (group of todoGroups; track group; let i = $index) {
      <app-todo-group
        [index]="i"
        [todoGroup]="group"
        (changeTitleEvent)="handleChangeTitle($event)"
        (deleteGroup)="handleDeleteGroup($event)"
        (addNewItem)="handleAddNewItem($event)"
        (eventGroupChangeDescription)="handleDescription($event)"
        (eventChangeStatus)="handleStatus($event)"
        (deleteItemGroup)="handleDeleteItem($event)"
      ></app-todo-group>
    }

  </div>
</main>
