<div class="item" (click)="isShowDescription = !isShowDescription">
  <div class="item__header">
    <img class="item__img" ngSrc="assets/icons/done.svg" alt="done" height="35" width="35">
    <span class="item__title">{{ todoItem.title }}</span>
    <span class="item__hide"
          [ngClass]="isShowDescription ? 'item__alt-hide' : ''"
    >></span>
  </div>

  @if (isShowDescription) {
    <div class="item__description" (click)="stopPropagation($event)">
      @if (isDescriptionEditing) {
        <textarea
          rows="6"
          class="item__description-area"
          (click)="stopPropagation($event)"
          [(ngModel)]="tempDescription"
          #value
          (keyup.enter)="pressEnter(value.value)"
        ></textarea>
      } @else {
        <span>{{ todoItem.description }}</span>
        <button
          (click)="isDescriptionEditing = !isDescriptionEditing"
          class="button-edit"
        >
          edit
        </button>
      }

    </div>
    <div class="item__buttons">
      <button (click)="changeStatusEvent(1)" class="button__item">Not Finished</button>
      <button (click)="deleteItem()" class="button__item delete">Delete</button>
      <!--    <button class="button__item">3</button>-->
    </div>
  }
</div>
